<header class="header-area">
  <!-- Search Form -->
  <div class="search-form d-flex align-items-center">
    <div class="container">
      <form action="index.html" method="get">
        <input type="search" name="search-form-input" id="searchFormInput" placeholder="Type your keyword ...">
        <button type="submit"><i class="icon_search"></i></button>
      </form>
    </div>
  </div>

  <!-- Top Header Area Start -->
  <div class="top-header-area">
    <div class="container">
      <div class="row">

        <div class="col-6">
          <div class="top-header-content">
            <a href="#"><i class="icon_phone"></i> <span>024 6253 8829</span></a>
            <a href="#"><i class="icon_mail"></i> <span>homefromhomeb@gmail.com</span></a>
          </div>
        </div>

        <div class="col-6">
          <div class="top-header-content">
            <!-- Top Social Area -->
            <div class="top-social-area ml-auto">
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Header Area End -->

  <!-- Main Header Start -->
  <div class="main-header-area">
    <div class="classy-nav-container breakpoint-off">
      <header class="p-3 mb-3 border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
              <img src="/assets/img/core-img/HFH%20LOGO.png" style="height: 60px" alt="">
<!--              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>-->
            </a>

            <ul  class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a routerLink="/" class="nav-link px-2 link-secondary"></a></li>
              <li><a routerLink="/" class="nav-link px-2 link-secondary"></a></li>
              <li><a routerLink="/" class="nav-link px-2 link-secondary"></a></li>
              <li><a routerLink="/" class="nav-link px-2 link-secondary">Trang chủ</a></li>
              <li><a routerLink="/" class="nav-link px-2 link-secondary"></a></li>
              <li><a routerLink="/news" class="nav-link px-2 link-dark">Tin tức</a></li>
              <li><a routerLink="/" class="nav-link px-2 link-secondary"></a></li>
              <li><a href="/manager" class="nav-link px-2 link-dark">Chủ nhà</a></li>
            </ul>

            <div *ngIf="user" class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="mdo" width="32" height="32" class="rounded-circle">
                {{user.user_name}}
              </a>
              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                <li><a class="dropdown-item" routerLink="/user/update-profile">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
              </ul>
            </div>
            <div *ngIf="!user" class="col-md-3 text-end">
              <a routerLink="/login" type="button" class="btn btn-outline-primary me-2">Login</a>
              <a routerLink="/register" type="button" class="btn btn-outline-primary me-2">Sign-up</a>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
</header>
