<header class="header-area">
  <!-- Top Header Area Start -->
  <div class="top-header-area">
    <div class="container">
      <div class="row">

        <div class="col-6">
          <div class="top-header-content">
            <a href="#"><i class="icon_phone"></i> <span>024 6253 8829</span></a>
            <a href="#"><i class="icon_mail"></i> <span>homefromhomeb@gmail.com</span></a>
<!--            <a href="#"><i class="icon_mail"></i> <span>{{dateNow| date}}</span></a>-->
          </div>
        </div>

        <div class="col-6">
          <div class="top-header-content">
            <!-- Top Social Area -->
            <div class="top-social-area ml-auto">
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Header Area End -->

  <!-- Main Header Start -->
  <div class="main-header-area">
    <div class="classy-nav-container breakpoint-off">
      <header class="border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
              <img src="/assets/img/core-img/logo-header.png" style="height: 95px" alt="Home From Home">
            </a>
            <div class="hotel-search-form-area">
              <div class="container-fluid">
                <div class="hotel-search-form">
                  <form *ngIf="formSearch" [formGroup]="formSearch" (ngSubmit)="submit()">
                    <div class="row">
                      <div class="row col-md-6 align-items-end">
                        <div class="col-3 col-md-6 col-lg-4 ">
                          <label for="star_date" class="col-form-label">Nhận phòng</label>
                          <input (input)="checkStartDate()" type="date" class="form-control" id="star_date" name="checkin-date"
                                 formControlName="start_date">
                        </div>
                        <div class="col-3 col-md-6 col-lg-4 ">
                          <label for="end_date">Trả phòng</label>
                          <input (input)="checkStartDate()" type="date" class="form-control" id="end_date" name="checkout-date"
                                 formControlName="end_date">
                        </div>
                        <div class="col-3 col-md-6 col-lg-4 ">
                          <label for="address">Địa điểm</label>
                          <input type="text" class="form-control" id="address" formControlName="address">
                        </div>
                      </div>
                      <div class="row col-md-3 align-items-end">
                        <div class="col-3 col-md-3 col-lg-6 ">
                          <label for="priMin">$ thấp nhất (VNĐ)</label>
                          <select name="priMin" id="priMin" class="form-control" formControlName="priMin">
                            <option value="100000">100.000</option>
                            <option value="200000">200.000</option>
                            <option value="300000">300.000</option>
                            <option value="400000">400.000</option>
                            <option value="500000">500.000</option>
                            <option value="600000">600.000</option>
                            <option value="700000">700.000</option>
                            <option value="800000">800.000</option>
                            <option value="900000">900.000</option>
                            <option value="1000000">1.000.000</option>
                            <option value="1500000">1.500.000</option>
                            <option value="2000000">2.000.000</option>
                          </select>
                        </div>
                        <div class="col-3 col-md-3 col-lg-6 ">
                          <label for="priMax">$ cao nhất (VNĐ)</label>
                          <select name="priMax" id="priMax" class="form-control" formControlName="priMax">
                            <option value="100000">100.000</option>
                            <option value="200000">200.000</option>
                            <option value="300000">300.000</option>
                            <option value="400000">400.000</option>
                            <option value="500000">500.000</option>
                            <option value="600000">600.000</option>
                            <option value="700000">700.000</option>
                            <option value="800000">800.000</option>
                            <option value="900000">900.000</option>
                            <option value="1000000">1.000.000</option>
                            <option value="1500000">1.500.000</option>
                            <option value="2000000">2.000.000</option>
                          </select>
                        </div>
                      </div>
                      <div class="row col-md-3 align-items-end">
                        <div class="col-6 col-md-2 col-lg-6">
                          <label for="bedroom">Phòng ngủ</label>
                          <select name="bedroom" id="bedroom" class="form-control" formControlName="bedroom">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                          </select>
                        </div>
                        <div class="col-6 col-md-2 col-lg-6">
                          <label for="bathroom">Phòng tắm</label>
                          <select name="bathroom" id="bathroom" class="form-control" formControlName="bathroom">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                          </select>
                        </div>
                      </div>
                      <div class="row col-md-1 align-items-end">
                        <div class="col-12 col-md-1 col-lg-12">
                          <button type="submit" class="form-control button-circle"><i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div *ngIf="user" class="dropdown text-end">
              <a style="font-size: 18px" href="#" class="d-block link-dark text-decoration-none dropdown-toggle"
                 id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img [src]="user.avatar" alt="mdo" width="55" height="55" class="rounded-circle">
                {{user.user_name}}
              </a>
              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                <li><a class="dropdown-item" routerLink="/user/list-order-of-user">Lịch sử thuê nhà</a></li>
                <li><a class="dropdown-item" routerLink="/user/update-profile">Cài đặt tài khoản</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li *ngIf="user.role == 'manager'"><a class="dropdown-item" routerLink="/manager/create-house">Đăng nhà
                  cho thuê</a></li>
                <li *ngIf="user.role == 'manager'"><a class="dropdown-item" routerLink="/manager/list-house">Danh sách
                  nhà cho cho thuê</a></li>
                <li *ngIf="user.role == 'manager'"><a class="dropdown-item" routerLink="/manager/order-list">Danh sách
                  đơn thuê nhà</a></li>
                <li *ngIf="user.role == 'manager'"><a class="dropdown-item" routerLink="/manager/income-statistics">Thống kê thu nhập</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" (click)="logout()">Đăng xuất</a></li>
              </ul>
            </div>
            <div *ngIf="!user" class="text-end">
              <a routerLink="/login" type="button" class=" me-2">Đăng nhập</a>
              &nbsp;&nbsp;
              <a routerLink="/register" type="button" class=" me-2">Đăng ký</a>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
</header>
