<footer class="footer-area section-padding-80-0">
  <!-- Main Footer Area -->
  <div class="main-footer-area">
    <div class="container">
      <div class="row align-items-baseline justify-content-between">
        <!-- Single Footer Widget Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-80">
            <!-- Footer Logo -->
            <a href="#" class="footer-logo"><img src="/assets/img/core-img/logo%20HFH.png" style="height: 100px" alt=""></a>

            <h4>024 6253 8829</h4>
            <span>homefromhomeb@gmail.com</span>
            <span>Nhà số 23, Lô TT-01, Khu đô thị MonCity, Hàm Nghi, Mỹ Đình 1, Hà Nội</span>
          </div>
        </div>

        <!-- Single Footer Widget Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-80">
            <!-- Widget Title -->

            <h5 class="widget-title">Địa điểm được yêu thích thích</h5>

            <!-- Footer Nav -->
            <ul class="footer-nav">
              <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Đà Lạt</a></li>
              <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Hà Nội</a></li>
              <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Hồ Chí Minh</a></li>
              <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Sapa</a></li>
              <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Vũng Tàu</a></li>
              <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Hạ Long</a></li>
              <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Phan Thiết</a></li>
              <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Hội An</a></li>
            </ul>
          </div>
        </div>

        <!-- Single Footer Widget Area -->
        <div class="col-12 col-sm-4 col-lg-2">
          <div class="single-footer-widget mb-80">
            <!-- Widget Title -->
            <h5 class="widget-title">Không gian ưa thích</h5>

            <!-- Footer Nav -->
            <ul class="footer-nav">
              <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Homestay</a></li>
              <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Nhà riêng</a></li>
              <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Biệt thự</a></li>
              <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Villa</a></li>
              <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Resort</a></li>
              <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Penthouse</a></li>
            </ul>
          </div>
        </div>

        <!-- Single Footer Widget Area -->
        <div class="col-12 col-sm-8 col-lg-4">
          <div class="single-footer-widget mb-80">
            <!-- Widget Title -->
            <h5 class="widget-title">Hỗ trợ</h5>
            <span>Để lại email của bạn để nhận thông tin về những ưu đãi hằng ngày.</span>

            <!-- Newsletter Form -->
            <form action="index.html" class="nl-form">
              <input type="email" class="form-control" placeholder="Enter your email...">
              <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partner-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="partner-logo-content d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms">
            <!-- Single Partner Logo -->
            <a href="#" class="partner-logo"><img src="https://www.luxstay.com/icons/visa.svg" alt=""></a>
            <!-- Single Partner Logo -->
            <a href="#" class="partner-logo"><img src="https://www.luxstay.com/icons/mastercard.svg" alt=""></a>
            <!-- Single Partner Logo -->
            <a href="#" class="partner-logo"><img src="https://www.luxstay.com/icons/maestro.svg" alt=""></a>
            <!-- Single Partner Logo -->
            <a href="#" class="partner-logo"><img src="https://www.luxstay.com/bct.png" alt=""></a>
            <!-- Single Partner Logo -->
            <a href="#" class="partner-logo"><img src="https://viettelsale.com/vtsale/images/home/logo-da-thong-bao-voi-bo-cong-thuong.jpg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Copywrite Area -->
  <div class="container">
    <div class="copywrite-content">
      <div class="row align-items-center">
        <div class="col-12 col-md-8">
          <!-- Copywrite Text -->
          <div class="copywrite-text">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">CATs Team</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <!-- Social Info -->
          <div class="social-info">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
