<div class="container">
  <section class="mb-">

    <h2 class="text-right">Đổi mật khẩu</h2>

    <form *ngIf="formChangePassword" [formGroup]="formChangePassword" (ngSubmit)="submit()">

      <div class="md-form md-outline">
        <label data-error="wrong" data-success="right" for="oldPass">Mật khẩu hiện tại</label>
        <input type="password" id="oldPass" class="form-control" formControlName="old_password" [ngClass]="(old_password?.invalid && (old_password?.dirty || old_password?.touched)) ? 'is-invalid' : ''">
      </div>

      <div *ngIf="old_password?.invalid && (old_password?.dirty || old_password?.touched)">
        <p *ngIf="old_password?.errors?.required" class="text-danger">
          Không được để trống mật khẩu hiện tại
        </p>
        <p *ngIf="old_password?.errors?.minlength || old_password?.errors?.maxlength" class="text-danger">
          Mật khẩu phải có từ 6 đến 8 ký tự
        </p>
      </div>

      <div class="md-form md-outline">
        <label data-error="wrong" data-success="right" for="newPass">Mật khẩu mới</label>
        <input type="password" id="newPass" class="form-control" formControlName="new_password" [ngClass]="(new_password?.invalid && (new_password?.dirty || new_password?.touched)) ? 'is-invalid' : ''" (change)="validateConfirmPassword()">
      </div>

      <div *ngIf="new_password?.invalid && (new_password?.dirty || new_password?.touched)">
        <p *ngIf="new_password?.errors?.required" class="text-danger">
          Không được để trống mật khẩu mới
        </p>
        <p *ngIf="new_password?.errors?.minlength || new_password?.errors?.maxlength" class="text-danger">
          Mật khẩu phải có từ 6 đến 8 ký tự
        </p>
      </div>

      <div class="md-form md-outline">
        <label data-error="wrong" data-success="right" for="newPassConfirm">Xác nhận mật khẩu mới</label>
        <input type="password" id="newPassConfirm" class="form-control" formControlName="new_password_confirmation" (mouseleave)="validateConfirmPassword()"
        [ngClass]="(messageConfirm) ? 'is-invalid' : ''">
        <p *ngIf="messageConfirm" class="text-danger">
          {{messageConfirm}}
        </p>
      </div>
      <br><br>

      <button class="btn btn-danger mb-4">Lưu thay đổi</button>

    </form>

  </section>
</div>

