<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-img bg-overlay jarallax" >
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcrumb-content text-center">
          <h2 class="page-title">Our House</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a href="index.html">House</a></li>
              <li class="breadcrumb-item active" aria-current="page">Detail</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Area End -->

<!-- Rooms Area Start -->
<div class="roberto-rooms-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10">
        <!-- Single Room Area -->
        <div class="single-room-area d-flex align-items-center mb-50 wow fadeInUp" data-wow-delay="100ms">
          <!-- Room Thumbnail -->
          <div class="room-thumbnail">
            <img width="300px"  *ngIf="houseDetail.images !== undefined"  [src]="houseDetail.images[0].url" alt="">
          </div>
          <!-- Room Content -->
          <div class="room-content">
            <h2>{{houseDetail.name}}</h2>
            <h4>{{houseDetail.price}} đ <span>/ Day</span></h4>
            <div class="room-feature">
              <h6>Loại nhà: <span>{{houseDetail.category.name}}</span></h6>
              <h6>Địa chỉ: <span>{{houseDetail.address}}</span></h6>
              <h6>Số phòng ngủ: <span>{{houseDetail.bedroom}}</span></h6>
              <h6>Số phòng tắm: <span>{{houseDetail.bathroom}}</span></h6>
              <h6 *ngIf="user.role == 'manager' && houseDetail.user.id == user.id">Trạng thái: &nbsp;&nbsp;
                <select class="form-select col-8" #element (change)="updateStatus(element)">
                  <option value="còn trống" [selected]="houseDetail.status == 'còn trống'">Còn trống</option>
                  <option value="đã thuê" [selected]="houseDetail.status == 'đã thuê'">Đã thuê</option>
                  <option value="đang nâng cấp" [selected]="houseDetail.status == 'đang nâng cấp'">Đang nâng cấp</option>
                </select>
              </h6>
            </div>
            <h6>Mô tả chung:</h6>
            <pre>{{houseDetail.description}}</pre>
            <a *ngIf="user.role == 'user'" routerLink="rent" class="btn btn-primary">Đặt thuê</a>
          </div>
        </div>
      </div>
      <div *ngIf="user.role == 'manager'" class="container ">
        <div class="card">
          <div class="card-header">
          </div>
          <div class=" card-body">
            <h5 class="card-title">Danh sách các lần thuê nhà của bạn:</h5>
            <table class="table table-striped">

                <thead>
                <tr >
                  <th scope="col">STT</th>
                  <th scope="col">Tên nhà</th>
                  <th scope="col">Địa chỉ</th>
                  <th scope="col">Ngày nhận</th>
                  <th scope="col">Ngày trả</th>
                  <th scope="col">Tổng giá</th>
                  <th scope="col" colspan="2">Trạng thái đơn</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let order of orders;index as i">
                  <th scope="row">{{i +1}}</th>
                  <td>{{order.house.name}}</td>
                  <td>{{order.house.address}}</td>
                  <td>{{order.start_date}}</td>
                  <td>{{order.end_date}}</td>
                  <td>{{order.total_price}}</td>
                  <td><p style="width: 150px" *ngIf="order.status == 'xác nhận'" class="btn btn-primary">đã xác nhận</p>
                    <p style="width: 150px" *ngIf="order.status == 'đã thanh toán'" class="btn btn-success">{{order.status}}</p>
                    <p style="width: 150px" *ngIf="order.status == 'không xác nhận'" class="btn btn-secondary">{{order.status}}</p>
                    <p style="width: 150px" *ngIf="order.status == 'chờ xác nhận'" class="btn btn-warning">{{order.status}}</p>
                    <p style="width: 150px" *ngIf="order.status == 'đã hủy'" class="btn btn-danger">{{order.status}}</p>
                  </td>
                  <td *ngIf="order.status == 'chờ xác nhận'">
                    <button class="btn btn-success" (click)="confirmOrder(order.id)" >Xác nhận</button>
                    &nbsp;&nbsp;
                    <button class="btn btn-danger"  (click)="refuseOrder(order.id)" >Không xác nhận</button>
                  </td>
                </tr>
                </tbody>
              </table>

          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
</div>
<!-- Rooms Area End -->
