<div class="roberto-rooms-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <div class="col-2 col-lg-2"></div>
      <div class="row col-8 col-lg-8">
        <div class="col-6 col-lg-6 infor">
          <h4>{{houseDetail.name}}</h4>
          <h6><i class="fas fa-map-marked-alt"></i> {{houseDetail.address}}</h6>
          <h6><i class="fas fa-home"></i> {{houseDetail.category.name}}: <span>{{houseDetail.bedroom}}
            phòng ngủ - {{houseDetail.bathroom}} phòng tắm</span></h6>
          <h6><i class="fas fa-comment-dollar"></i> {{houseDetail.price}} VNĐ/ Ngày</h6>
          <h6>Mô tả chung:</h6>
          <pre>{{houseDetail.description}}</pre>
        </div>
        <div class="col-6 col-lg-6">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img [src]="houseDetail.images[0].url" class="d-block w-100" alt="...">
              </div>
              <div *ngFor="let image of houseDetail.images" class="carousel-item">
                <img [src]="image.url" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-6 col-lg-6 infor">
          <h4>Đánh giá: {{rate}}</h4>
          <h6><i class="fas fa-user"></i> tổng cộng {{count}} lượt đánh giá</h6>
            <div class="row reviews" *ngFor="let review of reviews">
              <div class="col-2 col-lg-2 " >
                <img [src]="review.avatar" alt="mdo" width="55" height="55" class="rounded-circle avatar">
              </div>
              <div class="col-10 col-lg-10">
                <h6>{{review.user_name}}</h6>
                <p>rate: {{review.rate}}</p>
                <p>comment: {{review.comment}}</p>
              </div>
          </div>
        </div>
        <div class="col-6 col-lg-6">
          <form>
            <h5>Viết đánh giá:</h5>
            <label>Đánh giá:</label>
            <input type="text"> sao
            <label>Bình luận:</label>
            <input type="text">
          </form>
        </div>
        <div class="col-8 col-lg-8 infor">
          <h4>Bản đồ:</h4>
          <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(houseDetail.url_map)" width="700px" height="450px"
                  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-4 col-lg-4">
          <a *ngIf="user.role == 'user'" routerLink="rent" class="btn rent btn-primary">Đặt thuê</a>
          <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
        </div>
        <div class="col-12 col-lg-12">
          <div *ngIf="user.role == 'manager'" class="container ">
            <div class="card">
              <div class="card-header">
              </div>
              <div class=" card-body">
                <h5 class="card-title">Danh sách các lần thuê nhà của bạn:</h5>
                <table class="table ">
                  <thead>
                  <tr >
                    <th scope="col">STT</th>
                    <th scope="col">Tên nhà</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Ngày nhận</th>
                    <th scope="col">Ngày trả</th>
                    <th scope="col">Tổng giá</th>
                    <th scope="col">Trạng thái đơn</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let order of orders;index as i">
                    <th scope="row">{{i +1}}</th>
                    <td>{{order.house.name}}</td>
                    <td>{{order.house.address}}</td>
                    <td>{{order.start_date}}</td>
                    <td>{{order.end_date}}</td>
                    <td>{{order.total_price}}</td>
                    <td><p *ngIf="order.status == 'xác nhận'" class="btn btn-primary">đã xác nhận</p>
                      <p *ngIf="order.status == 'đã thanh toán'" class="btn btn-success">{{order.status}}</p>
                      <p *ngIf="order.status == 'không xác nhận'" class="btn btn-secondary">{{order.status}}</p>
                      <p *ngIf="order.status == 'chờ xác nhận'" class="btn btn-warning">{{order.status}}</p>
                      <p *ngIf="order.status == 'đã hủy'" class="btn btn-danger">{{order.status}}</p>
                    </td>
                    <td>
                    <p *ngIf="order.status !== 'chờ xác nhận'">Done</p>
                    <button *ngIf="order.status == 'chờ xác nhận'" class="btn btn-success" (click)="confirmOrder(order.id)" >Xác nhận</button>
                    &nbsp;&nbsp;
                    <button *ngIf="order.status == 'chờ xác nhận'" class="btn btn-danger"  (click)="refuseOrder(order.id)" >Không xác nhận</button>
                  </td>

                  </tr>
                  </tbody>
                </table>

              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-2 col-lg-2"></div>
    </div>
  </div>

</div>

