img {
  height: 350px;
  border-radius: 15px;
}
.infor {
  padding: 0px 30px;
}
pre {
  width: 100%;
  padding: 5px 10px;
  border: solid 1px black;
  border-radius: 5px;
}
.col-6 {
  margin: 10px 0px;
}
.avatar {
  height: 55px;
}
iframe{
  border-radius: 5px;
}
.reviews {
  padding-top: 2%;
}
.rent {
  margin-top: 10%;
}
