<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(/assets/img/bg-img/16.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcrumb-content text-center">
          <h2 class="page-title">Our House</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a href="index.html">House</a></li>
              <li class="breadcrumb-item active" aria-current="page">Detail</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Area End -->

<!-- Rooms Area Start -->
<div class="roberto-rooms-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        <!-- Single Room Area -->
        <div class="single-room-area d-flex align-items-center mb-50 wow fadeInUp" data-wow-delay="100ms">
          <!-- Room Thumbnail -->
          <div class="room-thumbnail">
            <img src="/assets/img/bg-img/43.jpg" alt="">
          </div>
          <!-- Room Content -->
          <div class="room-content">
            <h2>Room View Sea</h2>
            <h4>400$ <span>/ Day</span></h4>
            <div class="room-feature">
              <h6>Size: <span>30 ft</span></h6>
              <h6>Capacity: <span>Max persion 5</span></h6>
              <h6>Bed: <span>King beds</span></h6>
              <h6>Services: <span>Wifi, television ...</span></h6>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>
<!-- Rooms Area End -->
