<div class="hotel-search-form-area">
  <div class="container-fluid">
    <div class="hotel-search-form">
      <form *ngIf="formRentHouse" [formGroup]="formRentHouse" (ngSubmit)="submit()">
        <div class="row justify-content-between align-items-end">
          <div class="col-4 col-md-2 col-lg-2 text-center">
            <label for="checkIn">Nhận phòng</label>
            <input (input)="caculatorDate()" formControlName="start_date" type="date" class="form-control" id="checkIn" name="checkin-date">
            <div *ngIf="(start_date?.invalid && (start_date?.dirty || start_date?.touched))">
              <p *ngIf="start_date?.errors?.required" class="text-danger">
                Không được để trống ngày nhận phòng
              </p>
            </div>
          </div>
          <div class="col-4 col-md-2 col-lg-2 text-center">
            <label for="checkOut">Trả phòng</label>
            <input (input)="caculatorDate()" formControlName="end_date" type="date" class="form-control" id="checkOut" name="checkout-date">
            <div *ngIf="(end_date?.invalid && (end_date?.dirty || end_date?.touched))">
              <p *ngIf="end_date?.errors?.required" class="text-danger">
                Không được để trống ngày trả phòng
              </p>
            </div>
          </div>
          <div class="col-4 col-md-3 col-lg-1 text-center">
            <label>Đơn Giá (VNĐ/ngày)</label>
            <input [value]="price" readonly type="text" class="form-control text-right">
          </div>
          <div class="col-4 col-md-2 col-lg-2 text-center">
            <label>Tổng tiền (VNĐ)</label>
            <input [value]="totalPrice" readonly type="text" class="form-control text-right">
          </div>
          <div class="col-12 col-md-2">
            <button [disabled]="statusSubmit" class="form-control btn roberto-btn w-100">Đặt phòng</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
