<form *ngIf="formRentHouse" [formGroup]="formRentHouse" (ngSubmit)="submit()">
  <br>
  <p>Nhận phòng <span><input (input)="caculatorDate()" formControlName="start_date" type="date" class="form-control"
                             name="checkin-date"></span></p>
  <div *ngIf="(start_date?.invalid && (start_date?.dirty || start_date?.touched))">
    <p *ngIf="start_date?.errors?.required" class="text-danger">
      Không được để trống ngày nhận phòng
    </p>
  </div>
  <p>Trả phòng <span><input (input)="caculatorDate()" formControlName="end_date" type="date" class="form-control"
                            id="checkOut" name="checkout-date"></span></p>
  <div *ngIf="(end_date?.invalid && (end_date?.dirty || end_date?.touched))">
    <p *ngIf="end_date?.errors?.required" class="text-danger">
      Không được để trống ngày trả phòng
    </p>
  </div>
  <p>Đơn Giá (VNĐ/ngày) <span><input [value]="price" readonly type="text" class="form-control text-right"></span></p>
  <p>Tổng tiền (VNĐ) <span><input [value]="totalPrice" readonly type="text" class="form-control text-right"></span></p>
  <button [disabled]="statusSubmit" class="form-control btn roberto-btn w-100">Đặt phòng</button>
</form>

