<br>
<div class="container" style="height: 1000px; width: 1000px">
  <h3 class="text-center">Biểu đồ thể hiện thu nhập/tháng của <span class="text-danger">{{house_name_h2}}</span> năm <span class="text-danger">{{year_h2}}</span></h3>
  <br>
  <div style="display: block;">
    <canvas baseChart width="300" height="200"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [colors]="color">
    </canvas>
  </div>
  <br>
  <div class="row">
    <div class="col-sm">
      <label>Chọn nhà:</label>
      <select #house class="form-select col-6" (change)="sendData(house, year)">
        <option *ngFor="let house of house_list, index as i" id="{{i}}" value="{{house.id}}">{{house.name}}</option>
      </select>
    </div>
    <div class="col-sm">
      <label>Chọn năm:</label>
      <select #year class="form-select col-3" (change)="sendData(house, year)">
        <option *ngFor="let year of years" value="{{year}}" [selected]="year == currentYear">{{year}}</option>
      </select>
    </div>
  </div>
</div>

