<section class="roberto-about-area section-padding-100-0">
  <div class="container">
    <label>Danh sách nhà của bạn</label>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <!-- <th scope="col">tên chủ nhà</th>-->
        <th scope="col">người thuê</th>
        <th scope="col">ngày thuê -> ngày trả</th>
        <th scope="col">trạng thái order</th>
        <th scope="col">thông tin nha</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <!-- <td>dacchien</td>-->
        <td><button class="btn btn-info">chi tiết</button></td>
        <td>2021-09-04 đến 2021-10-04</td>
        <td><button class="btn btn-success" style="width: 160px">đã xác nhận</button></td>
        <td><button class="btn btn-info">chi tiết</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <!-- <td>dacchien</td>-->
        <td><button class="btn btn-info">chi tiết </button></td>
        <td>2021-09-04 đến 2021-10-04</td>
        <td><button class="btn btn-success" style="width: 160px">xác nhận</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-danger" style="width: 160px">không xác nhận</button></td>
        <td><button class="btn btn-info">chi tiết</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <!-- <td>dacchien</td>-->
        <td><button class="btn btn-info">chi tiết </button></td>
        <td>2021-09-04 đến 2021-10-04</td>
        <td><button class="btn btn-warning" style="width: 160px">không xác nhận</button></td>
        <td><button class="btn btn-info">chi tiết</button></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <!-- <td>dacchien</td>-->
        <td><button class="btn btn-info">chi tiết </button></td>
        <td>2021-09-04 đến 2021-10-04</td>
        <td><button class="btn btn-secondary" style="width: 160px">đã thanh toán</button></td>
        <td><button class="btn btn-info">chi tiết</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</section>




