<div class="container ">
  <div class="card">
    <div class="card-header">
    </div>
    <div class=" card-body">
      <h5 class="card-title">Danh sách các đơn thuê nhà:</h5>
      <table class="table ">
        <thead>
        <tr >
          <th scope="col">STT</th>
          <th scope="col"></th>
          <th scope="col">Mã đơn</th>
          <th scope="col">Ngày nhận</th>
          <th scope="col">Ngày trả</th>
          <th scope="col">Đơn giá</th>
          <th scope="col" colspan="2">Trạng thái đơn</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders;index as i">
          <th scope="row">{{i +1}}</th>
          <td><a href="">Chi tiết khách hàng</a></td>
          <td>{{order.id}}</td>
          <td>{{order.start_date}}</td>
          <td>{{order.end_date}}</td>
          <td>{{order.total_price}}</td>
          <td><p style="width: 150px" *ngIf="order.status == 'xác nhận'" class="btn btn-primary">đã xác nhận</p>
            <p style="width: 150px" *ngIf="order.status == 'đã thanh toán'" class="btn btn-success">{{order.status}}</p>
            <p style="width: 150px" *ngIf="order.status == 'không xác nhận'" class="btn btn-secondary">{{order.status}}</p>
            <p style="width: 150px" *ngIf="order.status == 'chờ xác nhận'" class="btn btn-warning">{{order.status}}</p>
            <p style="width: 150px" *ngIf="order.status == 'đã hủy'" class="btn btn-danger">{{order.status}}</p>
          </td>
          <td *ngIf="order.status == 'chờ xác nhận'">
            <button (click)="confirmOrder(order.id)" class=" btn btn-primary">Xác nhận</button>
            &nbsp;&nbsp;&nbsp;
            <button (click)="deniedOrder(order.id)" class=" btn btn-danger">Hủy</button>
          </td>
          <td *ngIf="order.status !== 'chờ xác nhận'">Done</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
