.card-img-top {
  height: 230px;
  border-radius: 15px;
}
.card {
  border: none;
}
.w-100{
  border-radius: 15px;
  margin-top: 15px
}
.img-list{
  height: 230px;
  width: 350px;
  border-radius: 15px;
}
.fa-dollar-sign:before {
  color: gold;
}
