<!-- Welcome Area Start -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/img/bg-img/5.jpg" style="height: 800px" class="d-block w-100 " alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/bg-img/7.jpg" style="height: 800px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/bg-img/8.jpg" style="height: 800px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/bg-img/6.jpg" style="height: 800px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/bg-img/9.jpg" style="height: 800px" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Welcome Area End -->


<!-- About Us Area Start -->
<section class="roberto-about-area section-padding-100-0">
  <!-- Hotel Search Form Area -->
  <div class="hotel-search-form-area">
    <div class="container-fluid">
      <div class="hotel-search-form">
        <form action="#" method="post">
          <div class="row justify-content-between align-items-end">
            <div class="col-4 col-md-2 col-lg-2">
              <label for="checkIn">Nhận phòng</label>
              <input type="date" class="form-control" id="checkIn" name="checkin-date">
            </div>
            <div class="col-4 col-md-2 col-lg-2">
              <label for="checkOut">Trả phòng</label>
              <input type="date" class="form-control" id="checkOut" name="checkout-date">
            </div>
            <div class="col-4 col-md-2 col-lg-2">
              <label for="2">Địa điểm</label>
              <input type="text" class="form-control" id="2">
            </div>
            <div class="col-4 col-md-1">
              <label for="room">Số phòng ngủ</label>
              <select name="room" id="room" class="form-control">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
              </select>
            </div>
            <div class="col-4 col-md-1">
              <label for="adults">Số phòng tắm</label>
              <select name="adults" id="adults" class="form-control">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
              </select>
            </div>
            <div class="col-4 col-md-3 col-lg-1">
              <label for="children">Giá (VNĐ)</label>
              <select name="children" id="children" class="form-control">
                <option value="01">200.000</option>
                <option value="02">300.000</option>
                <option value="03">400.000</option>
                <option value="04">500.000</option>
                <option value="05">1.000.000</option>
                <option value="06">2.000.000</option>
              </select>
            </div>
            <div class="col-12 col-md-2">
              <button type="submit" class="form-control btn roberto-btn w-100">Tìm kiếm</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</section>


<!-- About Us Area End -->
<div class="container w-100">
  <div class="row">
    <!-- Section Heading -->
    <div class="col-12">
      <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
        <h6>Gợi ý cho bạn</h6>
        <h2>Top 5 căn hộ có nhiều lượt thuê nhất</h2>
      </div>
    </div>
  </div>

  <div class="row">

    <!-- Single Post Area -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
        <a href="#" class="post-thumbnail"><img src="/assets/img/bg-img/2.jpg" alt=""></a>
        <!-- Post Meta -->
        <div class="post-meta">
          <a href="#" class="post-date">Homestay</a>
          <a href="#" class="post-catagory">2 phòng ngủ</a>
        </div>
        <!-- Post Title -->
        <a href="#" class="post-title">Homestay Hà Nội</a>
        <p>View phố, có ban công, gần chợ</p>
        <p><i class="fas fa-dollar-sign"></i> 450,000đ/đêm</p>
      </div>
    </div>

    <!-- Single Post Area -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
        <a href="#" class="post-thumbnail"><img src="/assets/img/bg-img/2.jpg" alt=""></a>
        <!-- Post Meta -->
        <div class="post-meta">
          <a href="#" class="post-date">Homestay</a>
          <a href="#" class="post-catagory">2 phòng ngủ</a>
        </div>
        <!-- Post Title -->
        <a href="#" class="post-title">Homestay Hà Nội</a>
        <p>View phố, có ban công, gần chợ</p>
        <p><i class="fas fa-dollar-sign"></i> 450,000đ/đêm</p>
      </div>
    </div>

    <!-- Single Post Area -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
        <a href="#" class="post-thumbnail"><img src="/assets/img/bg-img/2.jpg" alt=""></a>
        <!-- Post Meta -->
        <div class="post-meta">
          <a href="#" class="post-date">Homestay</a>
          <a href="#" class="post-catagory">2 phòng ngủ</a>
        </div>
        <!-- Post Title -->
        <a href="#" class="post-title">Homestay Hà Nội</a>
        <p>View phố, có ban công, gần chợ</p>
        <p><i class="fas fa-dollar-sign"></i> 450,000đ/đêm</p>
      </div>
    </div>

    <!-- Single Post Area -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
        <a href="#" class="post-thumbnail"><img src="/assets/img/bg-img/2.jpg" alt=""></a>
        <!-- Post Meta -->
        <div class="post-meta">
          <a href="#" class="post-date">Homestay</a>
          <a href="#" class="post-catagory">2 phòng ngủ</a>
        </div>
        <!-- Post Title -->
        <a href="#" class="post-title">Homestay Hà Nội</a>
        <p>View phố, có ban công, gần chợ</p>
        <p><i class="fas fa-dollar-sign"></i> 450,000đ/đêm</p>
      </div>
    </div>

    <!-- Single Post Area -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
        <a href="#" class="post-thumbnail"><img src="/assets/img/bg-img/2.jpg" alt=""></a>
        <!-- Post Meta -->
        <div class="post-meta">
          <a href="#" class="post-date">Homestay</a>
          <a href="#" class="post-catagory">2 phòng ngủ</a>
        </div>
        <!-- Post Title -->
        <a href="#" class="post-title">Homestay Hà Nội</a>
        <p>View phố, có ban công, gần chợ</p>
        <p><i class="fas fa-dollar-sign"></i> 450,000đ/đêm</p>
      </div>
    </div>


  </div>
</div>
<!-- Blog Area Start -->
<section class="roberto-blog-area section-padding-100-0">

  <div class="container mt-100">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6">
        <!-- Section Heading -->
        <div class="section-heading wow fadeInUp" data-wow-delay="100ms">
          <h6>Wellcome to</h6>
          <h2><b>Home From Home</b></h2>
        </div>
        <div class="about-us-content mb-100">
          <h5 class="wow fadeInUp" data-wow-delay="300ms">Trước khi đặt phòng, hãy kiểm tra những địa điểm bị hạn chế du
            lịch trong thời gian này. Sức khỏe và sự an toàn của cộng đồng luôn được đặt hàng đầu. Vì vậy, vui lòng làm
            theo chỉ thị của chính phủ bởi điều đó thực sự cần thiết.</h5>
          <p class="wow fadeInUp" data-wow-delay="400ms">Manager: <span>Chúc bạn có những trỉa nghiệm tuyệt vời nhất cùng với HFH!</span>
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="about-us-thumbnail mb-100 wow fadeInUp" data-wow-delay="700ms">
          <div class="row no-gutters">
            <div class="col-6">
              <div class="single-thumb">
                <img src="/assets/img/bg-img/13.jpg" alt="">
              </div>
              <div class="single-thumb">
                <img src="/assets/img/bg-img/14.jpg" alt="">
              </div>
            </div>
            <div class="col-6">
              <div class="single-thumb">
                <img src="/assets/img/bg-img/15.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
          <h6></h6>
          <h2>Danh sách các căn hộ đang cho thuê</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Single Post Area -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
          <a href="#" class="post-thumbnail"><img src="/assets/img/bg-img/2.jpg" alt=""></a>
          <!-- Post Meta -->
          <div class="post-meta">
            <a href="#" class="post-date">Homestay</a>
            <a href="#" class="post-catagory">2 phòng ngủ & 2 phòng tắm</a>
          </div>
          <!-- Post Title -->
          <a href="#" class="post-title">Hà Nội Homestay</a>
          <p>Địa chỉ: Thanh Xuân, Hà Nội</p>
          <p><i class="fas fa-dollar-sign"></i> 450,000đ/đêm</p>
        </div>
      </div>

      <!-- Single Post Area -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
          <a href="#" class="post-thumbnail"><img src="/assets/img/bg-img/2.jpg" alt=""></a>
          <!-- Post Meta -->
          <div class="post-meta">
            <a href="#" class="post-date">Homestay</a>
            <a href="#" class="post-catagory">2 phòng ngủ & 2 phòng tắm</a>
          </div>
          <!-- Post Title -->
          <a href="#" class="post-title">Hà Nội Homestay</a>
          <p>Địa chỉ: Thanh Xuân, Hà Nội</p>
          <p><i class="fas fa-dollar-sign"></i> 450,000đ/đêm</p>
        </div>
      </div>

      <!-- Single Post Area -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
          <a href="#" class="post-thumbnail"><img src="/assets/img/bg-img/2.jpg" alt=""></a>
          <!-- Post Meta -->
          <div class="post-meta">
            <a href="#" class="post-date">Homestay</a>
            <a href="#" class="post-catagory">2 phòng ngủ & 2 phòng tắm</a>
          </div>
          <!-- Post Title -->
          <a href="#" class="post-title">Hà Nội Homestay</a>
          <p>Địa chỉ: Thanh Xuân, Hà Nội</p>
          <p><i class="fas fa-dollar-sign"></i> 450,000đ/đêm</p>
        </div>
      </div>

      <!-- Single Post Area -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
          <a href="#" class="post-thumbnail"><img src="/assets/img/bg-img/2.jpg" alt=""></a>
          <!-- Post Meta -->
          <div class="post-meta">
            <a href="#" class="post-date">Homestay</a>
            <a href="#" class="post-catagory">2 phòng ngủ & 2 phòng tắm</a>
          </div>
          <!-- Post Title -->
          <a href="#" class="post-title">Hà Nội Homestay</a>
          <p>Địa chỉ: Thanh Xuân, Hà Nội</p>
          <p><i class="fas fa-dollar-sign"></i> 450,000đ/đêm</p>
        </div>
      </div>

      <!-- Single Post Area -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
          <a href="#" class="post-thumbnail"><img src="/assets/img/bg-img/2.jpg" alt=""></a>
          <!-- Post Meta -->
          <div class="post-meta">
            <a href="#" class="post-date">Homestay</a>
            <a href="#" class="post-catagory">2 phòng ngủ & 2 phòng tắm</a>
          </div>
          <!-- Post Title -->
          <a href="#" class="post-title">Hà Nội Homestay</a>
          <p>Địa chỉ: Thanh Xuân, Hà Nội</p>
          <p><i class="fas fa-dollar-sign"></i> 450,000đ/đêm</p>
        </div>
      </div>

      <!-- Single Post Area -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
          <a href="#" class="post-thumbnail"><img src="/assets/img/bg-img/2.jpg" alt=""></a>
          <!-- Post Meta -->
          <div class="post-meta">
            <a href="#" class="post-date">Homestay</a>
            <a href="#" class="post-catagory">2 phòng ngủ & 2 phòng tắm</a>
          </div>
          <!-- Post Title -->
          <a href="#" class="post-title">Hà Nội Homestay</a>
          <p>Địa chỉ: Thanh Xuân, Hà Nội</p>
          <p><i class="fas fa-dollar-sign"></i> 450,000đ/đêm</p>
        </div>
      </div>

      <!-- Single Post Area -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
          <a href="#" class="post-thumbnail"><img src="/assets/img/bg-img/2.jpg" alt=""></a>
          <!-- Post Meta -->
          <div class="post-meta">
            <a href="#" class="post-date">Homestay</a>
            <a href="#" class="post-catagory">2 phòng ngủ & 2 phòng tắm</a>
          </div>
          <!-- Post Title -->
          <a href="#" class="post-title">Hà Nội Homestay</a>
          <p>Địa chỉ: Thanh Xuân, Hà Nội</p>
          <p><i class="fas fa-dollar-sign"></i> 450,000đ/đêm</p>
        </div>
      </div>

      <!-- Single Post Area -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
          <a href="#" class="post-thumbnail"><img src="/assets/img/bg-img/2.jpg" alt=""></a>
          <!-- Post Meta -->
          <div class="post-meta">
            <a href="#" class="post-date">Homestay</a>
            <a href="#" class="post-catagory">2 phòng ngủ & 2 phòng tắm</a>
          </div>
          <!-- Post Title -->
          <a href="#" class="post-title">Hà Nội Homestay</a>
          <p>Địa chỉ: Thanh Xuân, Hà Nội</p>
          <p><i class="fas fa-dollar-sign"></i> 450,000đ/đêm</p>
        </div>
      </div>

      <!-- Single Post Area -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
          <a href="#" class="post-thumbnail"><img src="/assets/img/bg-img/2.jpg" alt=""></a>
          <!-- Post Meta -->
          <div class="post-meta">
            <a href="#" class="post-date">Homestay</a>
            <a href="#" class="post-catagory">2 phòng ngủ & 2 phòng tắm</a>
          </div>
          <!-- Post Title -->
          <a href="#" class="post-title">Hà Nội Homestay</a>
          <p>Địa chỉ: Thanh Xuân, Hà Nội</p>
          <p><i class="fas fa-dollar-sign"></i> 450,000đ/đêm</p>
        </div>
      </div>

      <!-- Single Post Area -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
          <a href="#" class="post-thumbnail"><img src="/assets/img/bg-img/2.jpg" alt=""></a>
          <!-- Post Meta -->
          <div class="post-meta">
            <a href="#" class="post-date">Homestay</a>
            <a href="#" class="post-catagory">2 phòng ngủ & 2 phòng tắm</a>
          </div>
          <!-- Post Title -->
          <a href="#" class="post-title">Hà Nội Homestay</a>
          <p>Địa chỉ: Thanh Xuân, Hà Nội</p>
          <p><i class="fas fa-dollar-sign"></i> 450,000đ/đêm</p>
        </div>
      </div>

      <!-- Single Post Area -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
          <a href="#" class="post-thumbnail"><img src="/assets/img/bg-img/2.jpg" alt=""></a>
          <!-- Post Meta -->
          <div class="post-meta">
            <a href="#" class="post-date">Homestay</a>
            <a href="#" class="post-catagory">2 phòng ngủ & 2 phòng tắm</a>
          </div>
          <!-- Post Title -->
          <a href="#" class="post-title">Hà Nội Homestay</a>
          <p>Địa chỉ: Thanh Xuân, Hà Nội</p>
          <p><i class="fas fa-dollar-sign"></i> 450,000đ/đêm</p>
        </div>
      </div>

      <!-- Single Post Area -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
          <a href="#" class="post-thumbnail"><img src="/assets/img/bg-img/2.jpg" alt=""></a>
          <!-- Post Meta -->
          <div class="post-meta">
            <a href="#" class="post-date">Homestay</a>
            <a href="#" class="post-catagory">2 phòng ngủ & 2 phòng tắm</a>
          </div>
          <!-- Post Title -->
          <a href="#" class="post-title">Hà Nội Homestay</a>
          <p>Địa chỉ: Thanh Xuân, Hà Nội</p>
          <p><i class="fas fa-dollar-sign"></i> 450,000đ/đêm</p>
        </div>
      </div>


    </div>
  </div>
</section>
<!-- Blog Area End -->
